<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GameStore.Frontend.styles.css" />
    <HeadOutlet /> <!--to render other elements in head-->
</head>

<body>
    <Routes /> <!--to render components through routes-->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
